<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <!-- <a href="/" class="error-back-button">E.T. - Troll Home</a> -->

    <div id="error-rectangle">
      <div class="error-text">
        "These are not the pages you're looking for."
      </div>
      <img src="http://i.imgur.com/Zrr7Ezb.png" class="error-image">
    </div>

    <a href="/" class="error-button victoria-three">E.T. - Troll Home</a>

  </body>
</html>
