<!DOCTYPE html>
<html>
  <head>
    <title>Troll Quote</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="js/script.js"></script>

    <script src="js/html2canvas.js"></script>
    <script src="js/Canvas2Image.js"></script>
  </head>
  <body>


{{{ body }}}




  </body>
</html>
