<!DOCTYPE html>
<html>
  <head>
    <title>Troll Quote</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="js/script.js"></script>

    <script src="js/html2canvas.js"></script>
    <script src="js/Canvas2Image.js"></script>

  </head>
  <body>
    <header class="header">
    <a href="" class="menu b">Menu</a>
    <nav class="nav">
      <ul>
        {{#if currentUser}}
        <li><a href="/logout">Logout</a></li>
        <li><a input type="button" class="favorite" id="export" value="Favorite"/></a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
          {{/if}}
      </ul>
    </nav>
  </header>

{{{ body }}}




  </body>
</html>
