<h2>Signup</h2>

{{#if message.length}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<header class="header">
  <a href="" class="menu b">Menu</a>
  <nav class="nav">
    <ul>
      {{#if currentUser}}
      <li><a href="/logout">Logout</a></li<a>
        <li><a href="/">Home</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/">Home</a></li>
        {{/if}}
    </ul>
  </nav>
</header>

<div class="signup">
  <form method="post" action="/signup">
    <div class="form-group">
      <label for="email"></label>
      <input class="form-control" type="text" name="email" id="email" placeholder="email">
    </div>

    <div class="form-group">
      <label for="email"></label>
      <input class="form-control" type="password" name="password" id="password" placeholder="password">
    </div>

    <input id="sub-btn" class="btn btn-default" type="submit">
  </form>
<div>
