body {
  background-color: #1f2a44;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#rectangle {
	width: 600px;
	height: 400px;
	background: #283237;
  border: 2px solid #D24D57;
  margin: 30px auto 0;
  position: relative;
  margin-top: 5%;
}

img {
  width: 350px;
  /*height: 350px;*/
  position: absolute;
  bottom: 0;
}

p {
  width: 35%;
  /*margin-top: 100px;
  margin-left: 400px;*/
  text-align: right;
  float: right;
  overflow: hidden;
  display: inline-block;
  clear: right;
  padding-right: 5%;
  font-weight: 400;
}

.author {
  font-style: italic;
  text-align: right;
  padding-right: 5%;
  /*clear: right;*/

}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
  width: 20%;
	color: #fff;
	font-size:14px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

a.animated-button.victoria-three {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-three:after {
	background: #D24D57;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  font-size:14px;
	font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}

#twitter-login {
  margin-left: 400px;
}
